@using MvcKutuphane.Models.Entity
@model List<TBLUYELER>
@{
                /**/

                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_LayoutYeni.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<h2>Üyeler</h2>
<hr />
<br />
@using (Html.BeginForm("Index", "Uyeler", FormMethod.Get))
{

    <div style="margin-bottom:15px;">
        <label>Kitap Ara : </label>
        @Html.TextBox("arancak")

        <button class="btn btn-info" type="submit"><span class="fas fa-search"></span>&nbsp; Ara</button>

    </div>
}
    <br />
    <table class="table table-striped">
        <tr style="background-color:rgb(252,178,22)">
            <th>ÜYE ID</th>
            <th>ÜYE ADI</th>
            <th>ÜYE SOYADI</th>
            <th>TELEFONU</th>
            <th>ADRESİ</th>
            <th>FAKÜLTESİ</th>
            <th>KULLANICI ADI</th>
            <th>ŞİFRESİ</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
            <th>KİTAP GEÇMİŞİ</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.ID</td>
            <td>@item.AD</td>
            <td>@item.SOYAD</td>
            <td>@item.FAKULTE</td>
            <td>@item.KULLANICIADI</td>


            <td>@Html.ActionLink(" Sil", "UyeSil", new { id = item.ID }, new { @class = "btn btn-danger glyphicon glyphicon-trash", onclick = "return confirm('Silmek İstiyor Musunuz?')" })</td>


            <td>
                <a href="/Uyeler/UyeGetir/@item.ID" class="btn btn-success"><span class="fas fa-paper-plane">&nbsp; </span>Güncelle</a>
            </td>

            <td>
                <a href="/Uyeler/UyeKitapGecmis/@item.ID" class="btn btn-success" style="background-color:lightseagreen">Kitap Geçmişi</a>
            </td>

        </tr>
        }
    </table>
<br />
<a href="/Uyeler/UyeEkle/" class="btn btn-primary"><span class="fas fa-plus-circle"></span>&nbsp; Yeni Üye Ekle</a>


