@using MvcKutuphane.Models.Entity
@model List<TBLHAREKET>
@{
    ViewBag.Title = "UyeKitapGecmis";
    Layout = "~/Views/Shared/_LayoutPanelim.cshtml";
}

<h2>Kitap Geçmişi</h2>
<hr />
<br />
<h3>Üye : @ViewBag.u1</h3>
<br />

<table class="table table-danger">
    <tr>
        <th>Kitap Adı</th>
        <th>Personel</th>
        <th>Alış Tarihi</th>
        <th>İade Tarihi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>@item.TBLKITAP.AD</tr>
        <tr>@item.TBLPERSONEL.PERSONELAD  @item.TBLPERSONEL.PERSONELSOYAD</tr>
        <tr>@Convert.ToDateTime(item.ALISTARIH).ToString("dd/MM/yyyy")</tr>
        <tr>@Convert.ToDateTime(item.UYEGETIRTARIH).ToString("dd/MM/yyyy")</tr>
    }
</table>

