@using MvcKutuphane.Models.Entity
@model List<TBLKITAP>

@{
                /**/

                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_LayoutYeni.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<h2>Kitap Sayfası</h2>
<hr />
<br />

@using (Html.BeginForm("Index", "Kitap", FormMethod.Get))
{

    <div style="margin-bottom:15px;">
        <label>Kitap Ara : </label>
        @Html.TextBox("arancak")

        <button class="btn btn-info" type="submit"><span class="fas fa-search"></span>&nbsp; Ara</button>
        
    </div>
}


    <table class="table table-striped">
        <tr style="background-color:rgb(252,178,22)">
            <th>ID</th>
            <th>KİTAP ADI</th>
            <th>KATEGORİSİ</th>
            <th>YAZARI</th>
            <th>BASIM YILI</th>
            <th>YAYINEVİ</th>
            <th>SAYFA</th>
            <th>DURUM</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.AD</td>
                <td>@item.TBLKATEGORI.AD</td>
                <td>@item.TBLYAZAR.AD  @item.TBLYAZAR.SOYAD</td>
                <td>@item.BASIMYIL</td>
                <td>@item.YAYINEVI</td>
                <td>@item.SAYFA</td>
                <td>@item.DURUM</td>
                <td>
                    @Html.ActionLink(" Sil", "KitapSil", new { id = item.ID }, new { @class = "btn btn-danger glyphicon glyphicon-trash", onclick = "return confirm('Silmek İstiyor Musunuz?')" })
                </td>
                <td>
                    <a href="/Kitap/KitapGetir/@item.ID" class="btn btn-success"><span class="fas fa-paper-plane">&nbsp; </span>Güncelle</a>
                </td>
            </tr>
        }
    </table>
<br />
<a href="/Kitap/KitapEkle/" class="btn btn-primary"><span class="fas fa-plus-circle"></span>&nbsp; Yeni Kitap Ekle</a>
